.main {
    width: 90%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chatbox {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.chatMessage {
    padding: 1em;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.chatMessage:nth-child(odd) {
    background-color: var(--darkgray);
    border-left: 5px solid;
    border-image: linear-gradient(0deg, var(--lightgray), var(--lightergray));
    border-image-slice: 1;
}

.chatMessage:nth-child(even) {
    background-color: var(--gray);
    border-left: 5px solid;
    border-image: linear-gradient(0deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
    border-image-slice: 1;
}

.chatMessage:first-child {
    border-top-right-radius: 20px;
}

.chatMessage:last-child {
    border-bottom-right-radius: 20px;
    border-bottom: none;
}




.inputContainer {
    position: fixed;
    bottom: 0;
    background-color: var(--darkgray);
    border-top: 2px solid var(--lightgray);
    width: 100%;
    height: 75px;
    padding: 2em;
    gap: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.recording {
    width: 10%;
    height: 100%;
    padding: 1em;
    background-color: var(--gray);
    color: var(--offwhite);
    font-size: 1em;
    border: 2px solid var(--lightgray);
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    font-weight: 400;
}

.inputBox {
    width: 65%;
    height: calc(100% - 6px);
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border: 2px solid var(--lightgray);
    background-color: var(--gray);
    color: var(--offwhite);
}

.inputBox:focus {
  outline: none;
}

.send {
    width: 10%;
    height: 100%;
    padding: 1em;
    background-color: var(--gray);
    color: var(--white);
    font-size: 1em;
    border: 2px solid var(--lightgray);
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    font-weight: 400;
}

.clearHistory {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: var(--gray);
    color: var(--offwhite);
    font-size: 1em;
    border: 2px solid var(--lightgray);
    border-right: none;
    border-radius: 20px;
    font-weight: 400;
}

.loader {
    position: fixed;
    top: 3em;
    left: 50%;
    transform: translate(-50%, -50%);
}