.main {
    width: 90%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chatbox {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.chatMessage {
    padding: 1em;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.chatMessage:nth-child(odd) {
    background-color: var(--darkgray);
    border-left: 5px solid;
    border-image: linear-gradient(0deg, var(--lightgray), var(--lightergray));
    border-image-slice: 1;
}

.chatMessage:nth-child(even) {
    background-color: var(--gray);
    border-left: 5px solid;
    border-image: linear-gradient(0deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
    border-image-slice: 1;
}

.chatMessage:first-child {
    border-top-right-radius: 20px;
}

.chatMessage:last-child {
    border-bottom-right-radius: 20px;
    border-bottom: none;
}




.inputContainer {
    position: fixed;
    bottom: 0;
    background-color: var(--darkgray);
    border-top: 2px solid var(--lightgray);
    width: 100%;
    height: 100px;
    padding: 2em;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageContainer {
    width: 80%;
    height: 100%;
    background-color: var(--gray);
    border: 2px solid var(--lightgray);
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}

.recording {
    width: 80px;
    height: 75px;
    padding: 1em;
    background-color: var(--gray);
    color: var(--offwhite);
    font-size: 1em;
    border: none;
    border-right: 2px solid var(--lightgray);
    border-radius: 20px 0px 0px 20px;
    font-weight: 400;
}

.inputBox {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 69px;
    border: none;
    background-color: var(--gray);
    color: var(--offwhite);
    font-size: 1em;
}

.inputBox:focus {
    outline: none;
}

.send {
    width: 100px;
    height: 75px;
    padding: 1em;
    background-color: var(--gray);
    color: var(--white);
    font-size: 1em;
    border: none;
    border-left: 2px solid var(--lightgray);
    border-radius: 0px 20px 20px 0px;
    font-weight: 400;
}


.clearHistory {
    padding: 0;
    margin: 0;
    /* margin-top: 1em; */
    color: var(--offwhite);
    font-size: 1em;
    background-color: transparent;
    border: none;
    font-weight: 400;
}

.loader {
    position: fixed;
    top: 3em;
    left: 50%;
    transform: translate(-50%, -50%);
}